body{
    overflow: hidden;
    background-color: #161616;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}
section {
    display: flex;
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #0C0C0C;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 70px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.perfilsemfundo{
    position: absolute;
    left: 8%;
    z-index: 1;
    scale: 1.15;
    top: 25%;
}

.perfil{
    display: flex;
    width: 70%;
    height: 60%;
    align-items: center;
    justify-content: flex-start;

    .img{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p{
        text-align: center;
        border-radius: 10px;
        padding: 5px;
        width: 35px;
        height: 35px;
      }
      .linkedin{
        -webkit-animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-tl 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      }
      .github{
        -webkit-animation: slide-in-blurred-bottom 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-bottom 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      }
      .whatsapp{
        -webkit-animation: slide-in-blurred-br 1.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-br 1.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
      }
      .linkedin:hover, .github:hover, .whatsapp:hover{
        scale: 0.9;
      }
      svg{
        color: #2c3370;
      }
    }

    #semfundo{
    position: relative;
    z-index: 1;
    }
    .comfundo{
      -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      z-index: 0;
    }
    img{
       margin-bottom: 20px;
        width: 220px;
        border-radius: 50px;
        border: 2px solid #3645C2;
    }
    #fundofake{
      width: 220px;
      position: absolute;
      background: rgb(2,0,36);
      background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(54,69,194,1) 66%, rgba(0,212,255,1) 100%);
      height: 220px;
      margin-bottom: 20px;
      border-radius: 50px;
      z-index: -1;
    }
    .title{
      font-size: 4vh;
      margin-left: 5%;
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .legenda {
        margin-bottom: 0px;
        text-wrap: nowrap;
        position: relative;
        color: #323ea8;
        border-radius: 7px;
        margin-top: 4px;
        -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        span{
            top: -10px;
            position: relative;
            font-size: 50px;
            font-weight: 500;
            color: #4458FF;
        }

        .focus-in-expand{
            -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .telaInfo, .telaJobs, .telaSkills, .telaContact{
          display: none;
          p{
            font-size: 18px;
            max-height: 208px;
            overflow: auto;
            padding-right: 10px;
          }
          
          -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

    }
}

.bar{
    position: absolute;
    height: 60%;
    width: 60px;
    background: #212121;
    border-radius: 15px;
    right: 5%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      svg{
        color: #3644c2;
      }
      .info svg{
        -webkit-animation: blink-2 2s 0.5s infinite backwards;
        animation: blink-2 2s 0.5s infinite backwards;
      }
      .jobs svg{
        -webkit-animation: blink-2 2s 1s infinite backwards;
        animation: blink-2 2s 1s infinite backwards;
      }
      .skills svg{
        -webkit-animation: blink-2 2s 1.5s infinite backwards;
        animation: blink-2 2s 1.5s infinite backwards;
      }
      .contact svg{
        -webkit-animation: blink-2 2s 2s infinite backwards;
        animation: blink-2 2s 2s infinite backwards;
      }

      .info svg:hover, .jobs svg:hover, .skills svg:hover, .contact svg:hover{
        color: #7e8bff;
      }

      .pressionado{
        animation: none;
        color: white;
      }

    }

.social{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5%;
    width: 200px;
    height: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-blurred-tl {
    0% {
      -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
              transform: translate(-1000px, -1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  @keyframes slide-in-blurred-tl {
    0% {
      -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
              transform: translate(-1000px, -1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  
  @-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  
  @-webkit-keyframes slide-in-blurred-br {
    0% {
      -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
              transform: translate(1000px, 1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  @keyframes slide-in-blurred-br {
    0% {
      -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
              transform: translate(1000px, 1000px) skew(80deg, 10deg);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0) skew(0deg, 0deg);
              transform: translate(0, 0) skew(0deg, 0deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
      color: #0C0C0C;
    }
  }
  
  @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }

  @-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
      scale: 1;
    }
    50% {
      opacity: 0.5;
      scale: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
      scale: 1;
    }
    50% {
      opacity: 0.5;
      scale: 1;
    }
    100% {
      opacity: 1;
    }
  }