/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: inherit;
    scrollbar-color: #1b2ab648 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1b2bb6;
    border-radius: 7px;
    border: 1px solid #ffffff00;
  }